*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f7f7f7
}

#banner{
    text-align: center;
    background-color: mediumpurple;
    padding: 40px;
    margin: 0;
    position: absolute;
    top: 38px;
    width: 100%;
}

nav ul{
    list-style: none;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    background-color: #414042;
}

nav ul li{
    display: inline;
    margin: 0;
    padding: 0;
}

nav ul li a{
    display:block;
    width: 80px;
    padding: 10px;
    float: right;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    background-color: gold;
    color: black;
}

#content{
    position: absolute;
    top: 155px;
    left: 0;
    width: 100%;
/*Setup grid*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.threeCol{
    padding: 20px;
}

#leftCol{
    grid-column: 1;
}

#rightCol{
    grid-column: 5;
}

#mainCol{
    background-color: white;
    grid-column: 2/5;
}

#calendar{
    overflow: auto;
}

iframe{
    width: 100%;
    height: 500px;
    margin: auto;
}